Everything and All the Logic With the Command Mission AP.

The game currently boots into Scenario 10, straight into the Arcade which is where the player will start. 
The Spider Cutscene, Ailes Door, Intruders Cutscene, Live Boss3, and Chapter 10 Door (Helipad cutscene 10010) are cleared, until their respective access codes are acquired randomly. 

The game is currently (and correctly) unbeatable from a chapter 10 standpoint because of:
the Dol changes to the CPMWI function being set way higher to 10, and the adding to the scenario flag is now + 0. 

***********Items py:*************
type = what type of item it is (i.e. weapons vs key item)
code = the number that Archipelago will read, in order of the items... 
classification = The item is either progression, useful, or filler. 
item_id = This is how we will use our Dynamic inventory. The Item_id is what # the different items set into their respective inventory slots (weapons vs items vs force metal , etc).
update_ram_addr = If the item flips a flag in RAM to acquire (mostly the key items), this is where it will be listed in items py. 

---Items to be randomized-

"1) ...Progression Key Items (Aile ID, etc)"
--These have a type of "Key Item".

...Access Codes are also progression. 

These need to be given randomly, and will alter flags / RAM for the Teleporter in Arcade.
I.e. The access codes (except CT) set the new teleport location from Central Tower (the original in the Patched ROM), to the first area of of each stage.

...Central Tower needs to switch the Spider, Intruders cutscene and Ailes Door back to uncleared. 

...Chapter 10 Access Code needs to alter the Jango Cutscene 10010 to send to Far East HQ.

... Weapons, Sub-Weapons, Force Metal, Mechaniloids are currently randomized. 


"2) Rebellion Medals are static items given to the player after beating the bosses. "
We want to use these to branch the game back to the Arcade after the opening Cutscenes for each chapter. 
These will also block the 100010 from playing. (Players will need Far East HQ Access Code AND 9 Rebellion Medals. 



********LOCATIONS PY*******************
This sets every check in the game. 
This calls our MMXCMRamData from helpers py to call the class. 
ram_addr = the Ram address that flips once you get the item in overworld.
bit_position = the bit position that flips (0-7).

name = the name of the Check. 
code = the check # that AP will reference.
parent_region = Which region the check is found. 
ram_addr = Same as above. 

Our list of Item tables... note that Boss Defeated through Sky Room is not set yet. 
LOCATION_TABLE: dict[str, MMXCMLocationData] = {
  **LAGRANO_RUINS_LOCATIONS,
  **CENTRAL_TOWER_LOCATIONS,
  **TIANNA_CAMP_LOCATIONS,
  **GAUDILE_LABORATORY_LOCATIONS,
  **ULFAT_FACTORY_LOCATIONS,
  **GIMIALLA_MINE_LOCATIONS,
  **VANALLIA_DESERT_LOCATIONS,
  **MELDA_ORE_PLANT_LOCATIONS,
  **GRAVE_RUINS_BASE_LOCATIONS,
  **FAR_EAST_HQ_LOCATIONS,
  **MECHANILOIDS_LOCATIONS,
  **BOSS_DEFEATED_LOCATIONS,
  **BOSS_DROPS_LOCATIONS,
  **SKY_ROOM_LOCATIONS,
}

Note that the Boss Defeated Locations Table is included but currently holds PLACEHOLDER RAM and ITEM IDS. 



********RULES PY*************
This file sets our full logic rules for hte AP and acquiring items. 

First, we set that the representitive stages NEED to have their access codes... I.e. Lagrano Ruins needs Lagrano Ruins Access Code. 

Second, we then apply Key Rules... i.e. Central Tower Tails Clan checks need Central key , etc. 
--This is also applied for Electric Componenents and the like in Gimialla Mine 

