Everything and All the Logic With the Command Mission AP.

The game currently boots into Scenario 10, straight into the Arcade which is where the player will start. 
The Spider Cutscene, Ailes Door, Intruders Cutscene, Live Boss3, and Chapter 10 Door (Helipad cutscene 10010) are cleared, until their respective access codes are acquired randomly. 

The game is currently (and correctly) unbeatable from a chapter 10 standpoint because of:
the Dol changes to the CPMWI function being set way higher to 10, and the adding to the scenario flag is now + 0. 

***********Items py:*************

---Items to be randomized-

"1) ...Progression Key Items (Aile ID, etc)"
--These have a type of "Key Item".

...Access Codes are also progression. 

These need to be given randomly, and will alter flags / RAM for the Teleporter in Arcade.
I.e. The access codes (except CT) set the new teleport location from Central Tower (the original in the Patched ROM), to the first area of of each stage.

...Central Tower needs to switch the Spider, Intruders cutscene and Ailes Door back to uncleared. 

...Chapter 10 Access Code needs to alter the Jango Cutscene 10010 to send to Far East HQ.

... Weapons, Sub-Weapons, Force Metal, Mechaniloids are currently randomized. 


"2) Rebellion Medals are static items given to the player after beating the bosses. "
We want to use these to branch the game back to the Arcade after the opening Cutscenes for each chapter. 
These will also block the 100010 from playing. (Players will need Far East HQ Access Code AND 9 Rebellion Medals. 

