Everything and All the Logic With the Command Mission AP.

***********Items py:*************

---Items to be randomized-

1) ...Progression Key Items (Aile ID, etc)
--These have a type of "Key Item".

...Access Codes are also progression. 

These need to be given randomly, and will alter flags / RAM for the Teleporter in Arcade.
I.e. The access codes (except CT) set the new teleport location from Central Tower (the original in the Patched ROM), to the first area of of each stage.

...Central Tower needs to switch the Spider, Intruders cutscene back to 0. RAM: 0x8000D8FC
*Note that this will also set a random one in Chapter 10. (Boss3)

...Chapter 10 Access Code needs to alter the Jango Cutscene 10010 to send to Far East HQ.

... Weapons, Sub-Weapons, Force Metal, Mechaniloids are currently randomized. 


2) Rebellion Medals are static items given to the player after beating the bosses. 
We want to use these to branch the game back to the Arcade after the opening Cutscenes for each chapter. 

